# references
# https://gist.github.com/Voonder/d5f638b60ca8456691dfa1c6412a264e
# https://gist.github.com/pksunkara/988716
# https://github.com/gitattributes/gitattributes/blob/master/Common.gitattributes
# https://github.com/gitattributes/gitattributes/blob/master/.gitattributes
# http://ihopepeace.github.io/gitattributes_generator

# Apply override to all files in the directory
*               text=auto eol=lf

# These files are text and should be normalized (Convert crlf => lf)
# ref: https://github.com/gitattributes/gitattributes/blob/master/Markdown.gitattributes
# editorconfig-checker-disable-next-line because we want it all on one line
*.gitattributes   export-ignore text linguist-detectable=true linguist-documentation=false linguist-language=gitattributes
*.gitignore       export-ignore text linguist-detectable=true linguist-documentation=false linguist-language=gitignore


# explicitly mark as documentation
# ref: https://github.com/github-linguist/linguist/blob/main/docs/overrides.md#documentation
doc/*   linguist-documentation=true
docs/*  linguist-documentation=true

*.md    text diff=markdown encoding=utf-8 linguist-detectable=true
*.mdx   text diff=markdown linguist-detectable=true

# Set the language for these files to json5 to ensure GitHub doesn't show the comments as errors
/.vscode/*.json         linguist-language=JSON5

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# zero-installs: https://yarnpkg.com/features/caching#zero-installs
# You can also add a .gitattributes file to identify the release and plugin bundles as binary content.
# This way Git won't bother showing massive diffs when each time you subsequently add or update them:
/.yarn/**           linguist-vendored
/.yarn/releases/**  binary
/.yarn/plugins/**   binary linguist-vendored
/.pnp.*             binary linguist-generated

# Mark built javascript binaries as generated
# Without this, the repo is marked as >90% javascript, while most code is actually typescript
/packages/*/bin/**/*.js linguist-generated
/packages/*/dist/*.js   linguist-generated
/packages/*/lib/*.js    linguist-generated

# Documents
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.epub     diff=astextplain
*.EPUB     diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.rtf      diff=astextplain
*.RTF      diff=astextplain
*.adoc     text
*.csv      text eol=crlf
*.mustache text
*.sql      text
*.tab      text
*.tex      text diff=tex
*.textile  text
*.tsv      text
*.txt      text encoding=utf-8

# Graphics
*.eps      binary
*.gif      binary
*.ico      binary
*.jpeg     binary
*.jpg      binary
*.png      binary
# SVG treated as text by default.
*.svg      text
# If you want to treat it as binary, use the following line instead.
# *.svg    binary
*.tif      binary
*.tiff     binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.ksh      text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf
# explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.7z       binary
*.bz       binary
*.bz2      binary
*.bzip2    binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.taz      binary
*.tbz      binary
*.tbz2     binary
*.tgz      binary
*.tlz      binary
*.txz      binary
*.xz       binary
*.Z        binary
*.zip      binary
*.zst      binary

# Text files where line endings should be preserved
*.patch    -text

#########################################################################
### hashicorp/terraform
#########################################################################
# ref: https://github.com/gitattributes/gitattributes/blob/master/community/Hashicorp.gitattributes
# HachiCorp Configuration Language
*.hcl eol=lf

# Terraform
*.tf      text eol=lf
*.tf.json text eol=lf
*.tfvars  text eol=lf

# Vagrant
Vagrantfile text eol=lf


#########################################################################
### powershell
### explicitly windows files and should use crlf
#########################################################################
# ref: https://github.com/gitattributes/gitattributes/blob/master/PowerShell.gitattributes
*.ps1      text eol=crlf
*.ps1x     text eol=crlf
*.psm1     text eol=crlf
*.psd1     text eol=crlf
*.ps1xml   text eol=crlf
*.pssc     text eol=crlf
*.psrc     text eol=crlf
*.cdxml    text eol=crlf


#########################################################################
### Microsoft Shell
### explicitly windows files and should use crlf
#########################################################################
# ref: https://github.com/gitattributes/gitattributes/blob/master/MicrosoftShell.gitattributes
*.msh      text eol=crlf
*.msh1     text eol=crlf
*.msh2     text eol=crlf
*.mshxml   text eol=crlf
*.msh1xml  text eol=crlf
*.msh2xml  text eol=crlf
*.mcf      text eol=crlf
